/* src/pages/CreateCategory.css */
.create-category-form {
  background-color: #2d3748;
  border-radius: 10px;
  padding: 20px;
}

.create-category-form label {
  font-weight: 600;
}

.create-category-form input {
  background-color: #4a5568;
  border: none;
  color: #e2e8f0;
}